body > header {
  background: $header-bg;
  background-repeat: repeat-y;
  height: $header-height;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    color: $subtitle-color;
    padding-left: 1em;
    font-size: 1.6em;
    color: $header-color;
    font-weight: bold;
  }
  #logo-pugglepay {
    height: $header-height/5;
  }
  #welcoming-puggle {
    float: right;
    height: ($header-height + $header-padding-bottom);
    margin-bottom: -$header-padding-bottom;
  }
}
