{% include custom/navigation.html %}

<ul class="social-links">
  <li><a href="https://github.com/PugglePay" title="Follow on on Github" target="_blank">{% img /images/github.png %}</a></li>
  <li><a href="https://twitter.com/zimplers" title="Follow us on Twitter" target="_blank">{% img /images/twitter.png %}</a></li>
  <li><a href="https://www.facebook.com/Zimpler-418832358289476" title="Follow us on Facebook" target="_blank">{% img /images/facebook.png %}</a></li>
  <li><a href="{{ site.subscribe_rss }}" title="subscribe via RSS" target="_blank">{% img /images/rss.png %}</a></li>
</ul>
